:root {
    --darkBlue: #132c33;
    --deepBlue: #126e82;
    --lightBlue: #51c4d3;
    --grayBlue: #d8e3e7;
}

body {
    
}

header {
    width: 100%;
    text-align: center;
    /* Sets the color gradient */
    background-image: linear-gradient(to right, var(--lightBlue), var(--deepBlue));
}

aside {
    float: left;
}

main {
    float: right;
}

.fiveDayForecast {
    border: 2px solid var(--darkBlue);
    background-color: var(--darkBlue);
    color: var(--grayBlue);
    width: 100px;
    height: 125px;
    margin: 25px;
}