:root {
    --darkBlue: #132c33;
    --deepBlue: #126e82;
    --lightBlue: #51c4d3;
    --grayBlue: #d8e3e7;
}

body {
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
    /* Sets the color gradient */
    background-image: linear-gradient(to right, var(--lightBlue), var(--deepBlue));
}

aside {
    flex: 2;
    flex-direction: column;
    float: left;
    height: 100%;
}

aside h1 {
    margin-left: 10px;
}

div h2 {
    margin-left: 25px;
}

form {
    margin: 2px 10px;
}

hr {
    margin: 5px 10px;
    height: 1px;
    background-color: darkgray;
}

li {
    list-style: none;
}

main {
    flex: 5;
    flex-direction: column;
    float: right;
    height: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 40px;
    width: 50px;
}

.fiveDayForecast {
    border: 2px solid var(--darkBlue);
    background-color: var(--darkBlue);
    color: var(--grayBlue);
    width: 125px;
    height: 125px;
    margin: 25px;
}

.historyBtn {
    width: 100%;
    background-color: darkgray;
    text-transform: capitalize;
    margin-top: 3px;
}

#mainDiv {
    flex-direction: row;
    justify-content: flex-start;
}

#query {
    height: 1.75em;
}

#searchBtn {
    margin-top: 10px;
    background-color: var(--lightBlue);
}

#searchHistory {
    justify-content: center;
    margin: 2px 10px;
}

#uvIndex {
    border-radius: 10px;
    padding: 2px 5px;
}